* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ad7f13;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.left-column {
    background-color: #f4eec0;
    color: #7e6752;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;

}

.left-column:hover {
    transform: scale(1.1); 
}


.perfilimg {
    width: 200px;
    height: 250px;
    border: 3px solid #61b292;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gitimg {

    width: 40px;
    height: 40px;
    margin: 10px;
    border: none;
    transition: transform 0.2s; 
}

.linkedinimg {

    width: 40px;
    height: 40px;
    margin: 10px;
    transition: transform 0.2s;

}

.gitimg:hover, .linkedinimg:hover {
    transform: scale(1.1); 
}

.left-column h1 {
    margin-top: 20px;
}

.left-column p, .left-column a {
    margin-bottom: 10px;
}

.right-column section {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;


}

.right-column section:hover {
    transform: scale(1.1); 
}


.right-column h2 {
    color: #333;
    margin-bottom: 10px;
}

.right-column ul {
    list-style-type: disc;
    margin-left: 40px;
}

#Interes {
    margin-bottom: 10px; 
}

.right-column p {
    margin-bottom: 10px;
}

@media (min-width: 700px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}
