* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ad7f13;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.5%;
    width: 80%;
    margin: 0 auto;
    padding: 80px;
}

.left-column {
    background-color: #f4eec0;
    color: #7e6752;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinear elementos al inicio verticalmente */
}

/* Aplicar estilos a la tabla */
table {
    width: 80%; /* O el ancho deseado */
    border-collapse: collapse;
}

/* Estilos para las celdas de la tabla */
table td {
    padding: 10px;
}

/* Aplicar estilos a la sección de habilidades técnicas */
.Ht h2 {
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.Interes h2 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.left-column:hover {
    transform: scale(1.1); 
}

.left-column h1 {
    margin-left: -20px;
    padding: 20px;
}

.left-column p, .left-column a {
    margin-left: 10px;
    margin-bottom: 20px;
}



.perfilimg {
    width: 200px;
    height: 250px;
    border: 3px solid #61b292;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gitimg {

    width: 40px;
    height: 40px;
    margin: 10px;
    border: none;
    transition: transform 0.2s; 
}

.linkedinimg {

    width: 40px;
    height: 40px;
    margin: 10px;
    transition: transform 0.2s;

}

.gitimg:hover, .linkedinimg:hover {
    transform: scale(1.1); 
}


.right-column section {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    margin-top: 40px;
    margin-right: 40px;

}

.right-column section:hover {
    transform: scale(1.1); 
}


.right-column h2 {
    color: #333;
    margin-bottom: 10px;
}

.right-column ul {
    list-style-type: disc;
    margin-left: 40px;
    margin-bottom: 20px;
}

#Interes {
    margin: 40px; 
    padding: 10px;

}

.right-column p {
    margin-bottom: 10px;
}



.platzimg {
    width: 20px;
    height: 20px;
    margin-left: 190px;
    display: flex;
    position: absolute;
    
}

.platzimg1 {
    width: 20px;
    height: 20px;
    margin-left: 190px;
    display: flex;
    position: absolute;
    
}

.platzimg2 {
    width: 20px;
    height: 20px;
    margin-left: 190px;
    display: flex;
    position: absolute;
    
}

.ibmimg {
    width: 20px;
    height: 20px;
    margin-left: 190px;
    display: flex;
    position: absolute;
    
}


@media (min-width: 786px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}
