body, body * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #2C3E52;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.5%;
    width: 80%;
    margin: 0 auto;
    padding: 80px;
}

.left-column {
    background-color: #effafe;
    color: #7e6752;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
}

table {
    width: 80%; 
    border-collapse: collapse;
}


table td {
    padding: 10px;
    position: relative;
    overflow: hidden;
}
table td:hover {
    background-color: #f0f0f0; 
}


table td::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: rgba(240, 240, 240, 0.5); 
    transition: width 1.0s ease; 
    z-index: -1;
}

table td:hover::before {
    width: 100%; 
}


.Ht h2 {
    padding: 0px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.Interes h2 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.left-column:hover {
    transform: scale(1.1); 
}

.left-column h1 {
    margin-left: -20px;
    padding: 20px;
}

.left-column p, .left-column a {
    margin-left: 10px;
    margin-bottom: 20px;
}



.perfilimg {
    width: 250px;
    height: 300px;
    border: 3px solid #2C3E52;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-right: 0;
}

.gitimg {

    width: 40px;
    height: 40px;
    margin: 10px;
    border: none;
    transition: transform 0.2s; 
}

.linkedinimg {

    width: 40px;
    height: 40px;
    margin: 10px;
    transition: transform 0.2s;

}

.gitimg:hover, .linkedinimg:hover {
    transform: scale(1.1); 
}


.right-column section {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    margin-top: 3rem;
    margin-right: 40px;

}

.right-column section:hover {
    transform: scale(1.1); 
}


.right-column h2 {
    color: #333;
    margin-bottom: 10px;
}

.right-column ul {
    list-style-type: disc;
    margin-left: 40px;
    margin-bottom: 20px;
}

#Interes {
    margin: 40px; 
    padding: 10px;

}

.right-column p {
    margin-bottom: 10px;
}

#segundo-parrafo {
    margin-left: 30px;
}
#segundo-parrafo2 {
    margin-left: 30px;
}

#Proyectos{
    margin-top: 20px;
    margin-bottom: 20px;
}

#Proyectos2 {

    margin-bottom: 10px;
    margin-top: 10px;
}

.platzimg {
    width: 20px;
    height: 20px;
    margin-left: 220px;
    display: flex;
    position: absolute;
    
}

.platzimg1 {
    width: 20px;
    height: 20px;
    margin-left: 220px;
    display: flex;
    position: absolute;
    
}

.platzimg2 {
    width: 20px;
    height: 20px;
    margin-left: 220px;
    display: flex;
    position: absolute;
    
}

.ibmimg {
    width: 20px;
    height: 20px;
    margin-left: 220px;
    display: flex;
    position: absolute;
    
}


@media (min-width: 786px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1062px) {
    .platzimg, .platzimg1, .platzimg2, .ibmimg {
      margin-left: 0;
    }
  }
  